.container {
  display: grid;
  justify-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.title {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--textColor);
  letter-spacing: 1px;
}

.btn {
  width: 170px;
  height: 45px;
  border-radius: 3px;
  letter-spacing: 1.2px;
  border: 0;
  outline: none;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


@media screen and (min-width:500px) {
  .title {
    font-size: 2.1rem;
    letter-spacing: 3px;
  }
}