.container {
  padding: 10px;
  position: relative;
}

.gotoBtnContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  transform: translateY(-27px);
}

@media screen and (min-width: 500px) {
  .container {
    height: 130vh;
  }
}


@media screen and (min-width: 600px) {
  .container {
    height: 100%;
  }
}


@media screen and (min-width: 1000px) {
  .container {
   width: 980px;
   margin: 0 auto;
  }
}