.container {
  padding: 10px;
  position: relative;
  height: 100%;
  /* margin-top: 2rem; */
}

.gotoBtnContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  transform: translateY(-27px);
}


@media screen and (min-width: 1000px) {
  .container {
   width: 980px;
   margin: 0 auto;
  }
}