.container {
  padding: 10px;
  margin: 5rem 0;
  display: grid;
  gap: 5rem;
}

.video_textContainer {
  display: grid;
  gap: 1.2rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}
.heading {
  font-size: 1.1rem;
  color: var(--textColor);
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.title {
  font-size: 2rem;
  color: var(--textColor);
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.desc {
  font-family: sans-serif;
  color: var(--textColor);
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  line-height: 150%;
  font-weight: 400;
  font-size: 0.8rem;
}


.link {
    font-size: 0.7rem;
    font-family: sans-serif;
    font-weight: 500;
    color: var(--textColor);
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.link::before, .link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--textColor);
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}
.link::before {
    transform: scaleX(0);
    transform-origin: left;
}
.link::after {
    transform-origin: right;
    transition-delay: 0.25s;
}
.link:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
}
.link:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
}
