.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  transition: transform 0.4s ease;
  transform: translateX(calc(-80% - -17px));
}

.carousel-container.sliding {
  transition: none;
}

.carousel-container.sliding.next {
  transform: translateX(0%);
}

.carousel-container.sliding.prev {
  transform: translateX(calc(2 * (-80% - 20px)));
}

.carousel-slot {
  flex: 1 0 100%;
  flex-basis: 80%;
  margin-right: 20px;
}

.carousel-slot img {
  width: 100%;
}
.container {
  position: relative;
  display: grid;
  gap: 2rem;
}
.button_container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: none;
}

.icon_btn {
  border: none;
  outline: none;
  background-color: transparent;
}

.icon {
  font-size: 1.3rem;
}

.desc {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--textColor);
}

.line_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line_nav > span {
  width: 50px;
  height: 2px;
  background-color: #d9d9d9;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

@media screen and (min-width: 1024px) {
  .carousel-slot img {
    width: 29em;
  }
  .carousel-slot {
    flex: 1 1 100%;
    flex-basis: 80%;
    margin-right: 20px;
  }
  .carousel-container {
    gap: 10rem;
    display: flex;
    transition: transform 0.4s ease;
    transform: translateX(calc(-70% - -430px));
  }
  .icon_btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button_container {
    display: flex;
    cursor: pointer;
    top: 220px;
    justify-content: space-between;
    /* padding:  0 05rem; */
  }
}
