.container {
  padding: 30px 10px 10px 10px;
  background-color: black;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

.input {
  font-size: 18px;
  padding: 10px 0px 10px 5px;
  background-color: transparent;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  color: #ffffff;
}
.input:focus {
  outline: none;
}

/* LABEL ======================================= */
.label {
  color: #999;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

/* active state */
.input:focus ~ .label,
.input:valid ~ .label {
  top: -5px;
  font-size: 14px;
  color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.title {
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}
.desc {
  font-weight: 400;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 150%;
}
.felx1 {
  display: grid;
  gap: 2rem;
}

.logo {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .container{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  .flex{
    order: 1;
    width: 600px;
  }

  .logoContainer{
    width: 120px;
  }
}
