.container {
  padding: 10px;
  display: grid;
  gap: 2rem;
}

.title {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--textColor);
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.img {
  width: 100%;
  pointer-events: none;
}

